#map {

	top: 200px;
	width: 400px;
	height: 275px;
	right: 60px;
	float: right;
	position: relative;
	display: block;
		border: 2px solid #523957;


}

.prev {

	top: 400px;
	right: 80px;
	float: right;
	position: relative;
	color: white;
	background-color: #392338;
	font-size: 15pt;
	font-style: bold;
	font-family: 'Gill Sans MT', sans-serif;
	width: 150px;
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 5px;
	text-align: center;

}

.test {
	top: 70px;
	right: 60px;
	float: right;
	position: relative;
	color: white;
	background-color: #C1264E;
	font-family: 'Gill Sans MT', sans-serif;
	width: 300px;
	height: 80px;
	display: block;
	padding: 20px;
/*	border: 2px solid red;
*/	text-align: left;

}

#hello {
	top: 100px;
	right: 80px;
	float: right;
	position: relative;
	color: #C1264E;
	font-family: 'Gill Sans MT', sans-serif;
	width: 300px;
	height: 300px;
	display: block;
	padding: 20px;
/*	border: 2px solid black;
*/	text-align: left;

}


li.layer {

	opacity: 0.25;
}


li:hover {

    opacity: 1.00;
    z-index: 1;

}

#item {

	top: 50px;
	left: 100px;
	position: fixed;
	display: block;
	/*border: 2px solid orange;*/

}

#phases {

	top: 50px;
	float: right;
	right: 60px;
	width: 500px;
	height: 200px;
	position: fixed;
	/*border: 2px solid red;*/

}