.prev {

	top: 400px;
	right: 80px;
	float: right;
	position: relative;
	color: white;
	background-color: #392338;
	font-size: 15pt;
	font-style: bold;
	font-family: 'Gill Sans MT', sans-serif;
	width: 150px;
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 5px;
	text-align: center;

}

.next {

	top: 350px;
	right: 60px;
	float: right;
	position: relative;
	color: #FFCFA4;
	background-color: #C1264E;
	font-size: 15pt;
	font-style: bold;
	font-family: 'Gill Sans MT', sans-serif;
	width: 150px;
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 5px;
	text-align: center;

}

.mats {

	top: 350px;
	right: 40px;
	float: right;
	position: relative;
	color: #523957; 
	background-color: #FFCFA4;
	font-size: 15pt;
	font-style: bold;
	font-family: 'Gill Sans MT', sans-serif;
	width: 150px;
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 5px;
	text-align: center;

}

#hello {
	top: 100px;
	right: 30px;
	float: right;
	position: relative;
	color: #C1264E;
	font-family: 'Gill Sans MT', sans-serif;
	width: 300px;
	height: 400px;
	display: block;
	padding: 20px;
/*	border: 2px solid black;
*/	text-align: left;

}

.test { 
	top: 70px;
	float: right;
	position: relative;
	color: white;
	background-color: #C1264E;
	font-family: 'Gill Sans MT', sans-serif;
	width: 450px;
	height: 200px;
	display: block;
	padding: 20px;
/*	border: 2px solid red;
*/	text-align: left;

}


li.layer {

	opacity: 0.25;
}

li:hover {

    opacity: 1.00;
    z-index: 2;

}

#item {

	top: 100px;
	width: 100%;
	left: 50px;
	position: fixed;
	display: block;
/*	border: 2px solid orange;
*/
}

#info {

	top: 70vh;
	/*padding: 20px;*/
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	border: 2px solid blue;
	
}

#phases {

	top: 50px;
	float: right;
	right: 60px;
	width: 500px;
	height: 200px;
	position: fixed;
	/*border: 2px solid red;*/

}

.map {

	top: 5vh;
	position: relative;
	right: 100px;
	background-color: black;
	width: 250px;
	height: 200px;

}

.version1 {

	top: 50vh;
	right: 130px;
	position: fixed;
	width: 400px;
	height: 50px;
	border: 2px solid green;
	font-family: "Times New Roman," serif;
	font-size: 40px;
	color: black;
	opacity: 0.25;
	display: block;

}


